.header {
  padding: 0 18px;
  position: relative;
  z-index: 1000;
  background-color: #0a0f26;
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 0;
}

.logo img {
  max-width: 200px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav_items {
  display: flex;
}

.nav_item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav_item:hover {
  color: #ff6347;
}

.nav_item li {
  position: relative;
}

.nav_item a {
  color: #fff;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.nav_item a::before {
  top: 0;
  left: 0;
  width: 0;
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
  height: 5px;
  background-color: #0c7480ff;
}

.active_link::before {
  top: 0;
  left: 0;
  width: 100% !important;
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
  height: 5px;
  background-color: #eab308;
}

.nav_item:hover a::before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
  height: 5px;
  background-color: #0c7480ff;
}

.loginBtn {
  background-color: #0c7480ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginBtn:hover {
  background-color: rgb(8, 82, 90);
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

.hamburger-icon i {
  font-size: 24px;
}

.avatar {
  background-color: #0c7480ff;
  padding: 0.4rem;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.login {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav_links {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}
/*    
   Sticky Header
   .sticky_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   }
   
   .sticky_header_link {
    background-color: #fff;
    color: #333;
   }
   
   .sticky_header_link .nav_item {
    color: #333;
   }
   
   .sticky_header_link .nav_item:hover {
    color: #ff6347;
   }
   
   .sticky_header_link .active_link {
    color: #ff6347;
   }
    */
